/* pc */
@media (min-width: 64em) {
    
}

/* mobile & tablet */
@media (max-width: 63.9375em) {
    .btn {
        padding: 15px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    #Footer .socials {
        font-size: 25px;
    }

    #Footer .socials a {
        padding: 0 8px;
    }

    #Footer .copyright a {
        display: inline-block;
        padding: 12px 0;
    }

    .contact-info {
        line-height: 2;   
    }
}

/* tablet */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    #nav .subnav a {
        padding: 5px 12px;
    }
}

/* mobile */
@media (max-width: 46.1875em) {
    #header .search-icon {
        display: none;
    }   
    #nav li {
        display: block;
    }

    #header .menu-btn {
        display: block;
    }

    #nav {
        display: block;
    }
    #nav > li:first-child {
        display: inline-block;
    }

    #header {
        overflow: hidden;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }
    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #Content .member-mobile {
        margin-top: 30px;
        width: 100%;
    }

    .s-col-full {
        width: 100%;
    }

    .list-items .member-img {
        width: 60%;
    }

    .places-list .places-mobile {
        width: 100%;
        margin-top: 16px;
    }

    .contact-form {
        margin-top: 32px;
    }

    .contact-name {
        margin-top: 8px;
    }

    .btn {
        width: 100%;
    }

    .btn-send {
        font-size: 18px;
    }
}